#logo_img{
    width:30px;
}
body{
    background-image: url("background-img.png");
}
.nav-link{  
    font-weight: bolder;
    font-family:cursive;
    font-size: larger;
}
#login-logo
{
    width: 5%;
    height: 5%;
}
h1{
    font-family: cursive;
    font-weight: bolder;
}
.form-group label{
    font-size: bolder;
    font-style: cursive;
    
}
#login
{
    width:300px;
}